body {
    background-color: #ccc;
}

#wordplay {
    text-transform: capitalize;
    letter-spacing: 5px;
}

.custom-container {
    max-width: 800px;
    min-width: 350px;
    background-image: url("../images/game-of-thrones.jpg");
    background-repeat: no-repeat !important;
    background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.custom-opacity {
    opacity: .9;
}

#status-msg {
    font-weight: bold;
    text-align: center;
}

#gamestatus {
    text-align: center;
}